*{
    box-sizing: border-box;
}
#drawer-checkbox {
    display: none;
  }
  #drawer-icon {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
  }
  #drawer-icon span {
    background:  #333;
    border-radius: 4px;
    display: block;
    height: 16%;
    left: 50%;
    margin: -8% 0 0 -42%;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease-in-out;
    width: 84%;
  }
  #drawer-icon span::before,
  #drawer-icon span::after {
    -webkit-transform: rotate(0);
    background: #333;
    border-radius: 4px;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin: -8% 0 0 -50%;
    position: absolute;
    top: 50%;
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
    width: 100%;
  }
  #drawer-icon span::before {
    margin-top: -38%;
  }
  #drawer-icon span::after {
    margin-top: 19%;
  }
  #drawer-checkbox:checked ~ #drawer-icon span {
    background: rgba(51, 51, 51, 0);
  }
  #drawer-checkbox:checked ~ #drawer-icon span::before,
  #drawer-checkbox:checked ~ #drawer-icon span::after {
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin: -8% 0 0 -42%;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  #drawer-checkbox:checked ~ #drawer-icon span::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #drawer-checkbox:checked ~ #drawer-icon span::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #drawer-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 250px;
    max-width: 90%;
    height: 100%;
    background: #fff;
    transition: all 0.3s ease-in-out 0s;
    transform: translateX(-100%);
  }
  #drawer-checkbox:checked ~ #drawer-content {
    transform: translateX(0);
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
  }
  
  #drawer-close {
    display: none;
    position: fixed;
    z-index: 39;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
  }
  #drawer-checkbox:checked ~ #drawer-close {
    display: block;
    opacity: 0.3;
  }
  .header a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    border-left:5px solid lightblue ;
    padding-left: 15px;
    padding-bottom: 10px;
}
.header li{
    list-style: none;
}
.header h3{
  font-size: 40px;
  position: relative;left: 20px;
  width: 100px;
}
  .photo{
      width: 143px;
      float: right;
      position: relative;bottom: 40px;      
  }
  .back{
      width: 220px;
      height: 244px;
      z-index: -10;
      position: relative;bottom:255px ;right: 10px;
  }
  .top p{
      font-size: 13px;
      position: relative;bottom: 380px;
      color: white;
  }
  .top{
      width: 320px;
      height: 250px;
  }

  .content1 h2{
       position: relative;bottom: 200px;right: 50px;
       font-size: 30px;
  }
  .content1 p{
      position: relative;bottom: 200px;left: 40px;
  }
  .content1 img{
      width: 150px;
      position: relative;top: 200px;
      float: left;
    }
    .content1{
        width: 370px;
        height: 430px;
    }
    .content2{
        text-align: center;
        font-size: 30px;
        width: 370px;
        height: 290px;
        background-color: whitesmoke;
    }
    .content2 img{
        width: 150px;
        float: left;
        position: relative;left: 30px;
    }
    .content3 h2{
        font-size: 30px;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 30px ;
        position: relative;bottom: 40px;
        background-color: whitesmoke;
        width: 370px;
    }
    .content3{
        background-color: whitesmoke;
        width: 370px;
        height: 1750px;

    }
    .vis{
        background-color: whitesmoke;
        width: 290px;
        position: relative;left: 30px;
        margin-bottom: 100px;
        z-index: 1;
        
    }
    .vis1{
        position: relative;bottom: 1710px;left: 10px;
        
    }
    .vart1{
        position: relative;bottom: 1900px;left: 45px;
        z-index: 2;
        
    }
    .vis2{
        position: relative;bottom: 1160px;left: 19px;
       
    }
    .vart2{
        position: relative;bottom:1500px ;left: 45px;
        z-index: 2;
        
    }
    .vis3{
      display: none;
     
    }
    .vis4{
        width: 200px;
        position: relative;bottom: 940px;left: 30px;
      
    }
    .vart3{
        position: relative;bottom: 1000px;left: 45px;
        z-index: 2;
   
    }
    .content4 h2{
        text-align: center;
        font-size: 30px;
    }
    .content4 a{
        margin-left: 20px;
    }
    .content4{
        width: 370px;
        position: relative;top: 150px;
    }
    .footer{
        width: 370px;
        background-color: whitesmoke;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;top: 300px;
        margin-bottom: 0;
        
    }
    .footer p{
        text-align: center;
        color: white;
    }
    body,html{
        height: 100%;
    }
    .main{
        height: 2984px;
        width: 370px;
    }

    
 